body{
  background-color: #e0e0e0;
  margin: 0 auto;
  max-width: 60em;
}
.ne{
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow:  35px 35px 70px #bebebe,
               -35px -35px 70px #ffffff;
}
iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55em;
  height: 40em;
}